
:root {
	--font-body: Silkscreen, monospace;
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	background-color: #000;
}

.container {
	display: flex;
	flex-direction: column;
	background-color: #050321;
	color: #fff;
	font-family: Silkscreen, serif;
	font-size: .8rem;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	height: 100vh;
  }
  
.container::after {
	content: " ";
	position: fixed;
	top: 0;
	left: 0;
	background: repeating-linear-gradient(0deg, #fff1, #fff1, transparent 2px, transparent 3px);
	width: 100%;
	max-width: 800px;
	height: 100vh;
	z-index: -1;
  }
  
  a {
	color: #AA2654;
	text-decoration: none;
	margin: 0;
	padding: 0;
  }
  
  img {
	width: 100%;
	height: auto;
  }
  
  li {
	list-style: none;
  }
  
  .row {
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
  }
  
  .app-screen {
	display: block;
	position: absolute;
	background-color: #000;
	color: #fff;
	border: double #fff 8px;
	max-width: 250px;
	max-height: 200px;
	text-align: right;
	cursor: default;
	margin: 15% 10%;
	overflow: hidden;
  }
  
  .window {
	background-color: #fff;
	color: #000;
	border: solid black 2px;
	cursor: default;
	list-style: none;
	min-height: 16rem;
	min-width: 10rem;
	max-width: 25rem;
	margin: .5rem;
  }
  
  .window-bar {
	display: flex;
	justify-content: space-between;
	background: repeating-linear-gradient(0deg, #fff, #000 4px, #fff 4px, #000 8px);
	margin: 2px 0;
  }
  
  .window-title {
	background-color: #fff;
	font-size: 1rem;
	margin: 0;
	padding: .5rem .25rem;
  }
  
  .window-button {
	background-color: #fff;
	margin: .25rem;
	border: solid black 1px;
	padding: 0.25rem .4rem;
	cursor: pointer;
  }
  
  .btn {
	background: #fff;
	color: #000;
	border: solid black 1px;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	height: 1.5rem;
	width: 1.5rem;
	margin: .25rem .3rem;
	padding: 0rem;
  }
  
  .btn:active {
	filter: invert(1);
  }
  
  #btn-control {
	display:none;
  }
  
  .window-info {
	display: flex;
	justify-content: space-between;
	border: solid black 1px;
	list-style: none;
	margin: 0 0 3px 0;
	padding: 0 .5rem;
  }
  
  .window-contents {
	border: solid black 1px;
	margin: 0 0 3px 0;
	padding: 1rem .5rem;
  }
  
  .icon-container {
	align-items: center;
	text-align: center;
	width: 4rem;
	margin: 1.25rem .66rem;
	cursor: default;
  }
  
  .icon {
	height: 3rem;
	width: 3rem;
	margin: auto;
  }
  
  .icon:hover {
	cursor: pointer;
	filter: invert(1);
	-webkit-filter: invert(1);
  }
  
  .icon-text {
	font-size: .7rem;
	color: #AA2654;
  }
  
  .popup-1 {
	display: block;
	position: absolute;
	margin: 13% 8%;
  }
  
  .popup-0 {
	display: block;
	position: absolute;
	margin: 25% 40%;
  }
  
  .popup-2 {
	display: block;
	position: absolute;
	margin: 11% 11%;
  }
  
  #sad-face {
	position:absolute;
	font-size:8rem;
	z-index:-1;
  }
  
  
  /*
  .cursor-text::after {
	content: " ";
	margin: .15rem .5rem;
	display: inline-block;
	background-color: #fff;
	vertical-align: top;
	width: 10px;
	height: 1rem;
	animation: cursor 1s step-end infinite;
  }
  
  @keyframes cursor {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
  }
  */
