
:root {
	--font-body: Silkscreen, monospace;
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

main {
	max-width: 800px;
	margin: 0!important;
	padding: 0!important;
}

body {
	background-color: #000;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	margin: 0;
}

a {
	color: #AA2654;
	text-decoration: none;
	margin: 0;
	padding: 0;
  }
  
  img {
	width: 100%;
	height: auto;
  }
  
  li {
	list-style: none;
  }

.container {
	display: flex;
	flex-direction: column;
	background-color: #050321;
	color: #fff;
	font-family: Silkscreen, serif;
	font-size: .8rem;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	height: 100vh;
  }
  
.container::after {
	content: " ";
	position: fixed;
	top: 0;
	left: 0;
	background: repeating-linear-gradient(0deg, #fff1, #fff1, transparent 2px, transparent 3px);
	width: 100%;
	height: 100vh;
	z-index: -1;
  }
  
  .row {
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
  }
  
  .window {
    background-color: #fff;
    color: #000;
    border: solid black 2px;
    cursor: default;
    list-style: none;
    min-height: 16rem;
    min-width: 10rem;
    max-width: 25rem;
    margin: .5rem;
}

.toggle-dark {
	filter: invert(1);
}